body{
    background-color: #998773;
    height: 100vh;
    display: flex;
    align-items: center;
    margin: 0;
    overflow: hidden;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}
