.fullScreen{
height: 100vh;
width: 90%;
}
.title h1{
    font-family: font-file-82132;
    color: #062F45;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 40px;
    left: -10px;
    font-size: 54px !important;
    line-height: 45px;
}
.fullScreen::before{
    content: '<body>';
    font-family: 'Edu TAS Beginner';
    color: #ffd700;
    font-size: 24px;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 5%;  
}
.fullScreen::after{
    content: '</body>';
    font-family: 'Edu TAS Beginner';
    color: #ffd700;
    font-size: 24px;
    opacity: 0.3;
    position: absolute;
    bottom: 5%;
    left: 5%;  
}
.title{
    position: relative;
}
.title::before{
    content: '<h1>';
    font-family: 'Edu TAS Beginner';
    color: #ffd700;
    font-size: 24px;
    opacity: 0.3;
    position: absolute;
    top: -10px;
    left: 15px;  
}
.sentence::after{
    content: '</h1>';
    font-family: 'Edu TAS Beginner';
    color: #ffd700;
    font-size: 24px;
    opacity: 0.3;
    position: absolute;
    bottom: 20%;
    left: 0;
}
.project{
    box-sizing: border-box;
    height: 250px;
    background-color: thistle;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    object-fit: cover ;
}
.project:hover .capture{
    opacity: 1;
}
.capture{
    position: absolute;
    bottom: 0;
    height: 60%;
    width: 100%;
    background: linear-gradient(
        180deg,
        rgba(0,0,0,0.2) 0,
        rgba(0,0,0,1)
    );
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.675, 0.355,1);
    opacity: 0;
    transition: all 1s;
    padding: 8px;

}
.projTitle{
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    height: 15%;
    font-family: font-file-82132;

}
.desc{
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    height: 30%;
    padding: 5px;
    font-family: font-file-82132;

}
.btn{
    padding: 0 15px;
    margin-left: 5px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 20%;
    line-height: 34px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #ffd700;
    font-family: font-file-82132;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.675, 0.355,1);
}

.wrapper h1{
    font-family: font-file-82132;
    color: #062F45;
    font-weight: 400;
    margin-top: 0;
    left: -10px;
    font-size: 54px !important;
    line-height: 45px;
}
.word{
    display: flex;
    letter-spacing: 3px;
    padding: 0px 5px;
}
.wrapper{
    cursor: pointer;
    display: flex;
    position: relative;
}
.letter{
    position: relative;
    text-shadow: -6px 2px 7px black;
    z-index: 111;
    top:0;
}
.shadow{
    color: transparent;
    position: absolute;
    transition: 0.5s;
    text-shadow: none;
    z-index: 0;
}
.wrapper:hover .shadow{
    text-shadow: -21px 2px 7px rgba(0, 0, 0, 0.30);
    transition: 0.5s ease-in-out;
}
.wrapper:hover .letter{
    color: yellow;
    transform: translateY(-35px);
    transition: 0.5s ease-in-out;
}
.sentence{
    display: flex;
    padding-bottom: 10px; 
    padding-top: 30px;

}