.iconaya{
    font-size: 50px;
    color: #fff;
}

.navbar{
    height: 100vh;
    background-color: #625750;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.toggleBtn{
    background-color: #625750;
    height: 100vh;
    display: flex;
    border: 1px solid yellow;
}